//Colors
@ui-black: #0e1414;
@ui-grey: #c5c7c7;
@ui-grey-dark: #999a9a;
@ui-white: #ffffff;
@ui-red: #c80028;
@ui-focus: rebeccapurple;

//Screen size mobile first
@brakepoint-xs: 480px;
@brakepoint-s: 768px;
@brakepoint-m: 1024px;

//Fonts
@light: OpenSans-Light;
@regular: OpenSans-Regular;
@semi-bold: OpenSans-Semibold;
@bold: OpenSans-Bold;
@extra-bold: OpenSans-ExtraBold;
